@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	height: 100vh;
	width: 100vw;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.curriculum {
	animation: myAnimation 1000ms forwards linear alternate;
}

.textobrillante {
	text-shadow: 2px 2px 4px rgb(255, 255, 255);
	text-shadow: #fc0 1px 0 10px;
}

.textoFront {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;

	color: transparent;
	position: relative;
}

.textoFront:before {
	content: attr(data-text);
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	color: #f8e559;
	-webkit-text-fill-color: white;
	animation: TextFill 6s linear infinite;
}
.shadowContacto {
	/* box-shadow: 0px 0px 10px 5px #f8e559; */
	border: 3px solid white;
}

.lista {
	list-style: outside;
}
.linetime > span {
	background-color: #f8e559;
}

.outside > span {
	background-color: white;
}
@keyframes TextFill {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}
@keyframes myAnimation {
	0% {
		transform: translateX(0%) scale(0.5);
	}
	100% {
		transform: translateX(100%) scale(1);
	}
}

.double {
	border: 4px white double;
}
.loader {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-radius: 50%;
	overflow: hidden;
}
.loader:before,
.loader:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	animation: pulsOut 1.8s ease-in-out infinite;
	filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
.loader:before {
	width: 100%;
	padding-bottom: 100%;
	box-shadow: inset 0 0 0 1rem #fff;
	animation-name: pulsIn;
}
.loader:after {
	width: calc(100% - 2rem);
	padding-bottom: calc(100% - 2rem);
	box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
	0% {
		box-shadow: inset 0 0 0 1rem #fff;
		opacity: 1;
	}
	50%,
	100% {
		box-shadow: inset 0 0 0 0 #fff;
		opacity: 0;
	}
}

@keyframes pulsOut {
	0%,
	50% {
		box-shadow: 0 0 0 0 #fff;
		opacity: 0;
	}
	100% {
		box-shadow: 0 0 0 1rem #fff;
		opacity: 1;
	}
}
.spinner {
	font-size: 10px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	animation: mulShdSpin 1.1s infinite ease;
	transform: translateZ(0);
}
@keyframes mulShdSpin {
	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em #ffffff,
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}
	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
			1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}
	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
	}
}
/* .probando {
	animation: animationBg 1s linear infinite alternate;
}

@keyframes animationBg {
	0% {
		border-width: 4px;
		border-left-color: #864af9;
		border-right-color: #864af9;
	}
	100% {
		border-width: 4px;
		border-left-color: #ffff;
		border-right-color: #ffff;
	}
} */
